/*-----------modal box css starts----------*/

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 15px;
    border-radius: 10px;
    background: #fff;
    /*background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);*/
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}

/*-----------modal box css ends----------*/

.button4 {
    background-color: white;
    border: 2px solid #e7e7e7;
	color: #000;
	font-size: 10px;
	padding: 10px 25px;
	border-radius: 5px;
	width: 100%;
}

.button4:hover {background-color: #e7e7e7;}

.button5 {
    background-color: #1a1a1a;
	border: 2px solid #555555;
	color: #fff;
	font-size: 10px;
	padding: 10px 25px;
	border-radius: 5px;
	width: 100%;
  }

.button5:hover {
    background-color: #000000;
    color: white;
}
.full_width{
	width:100%;
	border: 1px solid #dfdfdf;
	background-color: #fff;
	padding: 10px 10px 10px 10px;
}
.me_bookmark{
	width:100%;
	text-align: left;
	padding: 10px 10px 10px 10px;
}
.select_width{
	width: 100%;
}

.add_to_bookmark_btn{
    border: 1px solid #007acc ;
padding: 5px 15px;
background-color: #007acc ;
color: #fff;
border-radius: 5px;
}
.add_to_bookmark_btn:hover{
    border: 1px solid #007acc ;
    background-color: #fff;
   color:#007acc ;
}

.error_collection_select, .error_failed_login {
    border: 1px solid red;
    color: #fff;
    background-color: #ff6666;
    border-radius: 5px;
    text-align: center;
    width: 94%;
    float: left;
    margin: 0 3%;
    margin-bottom: 10px;
    display: none;
}

.add_collection_success, .success_login, .success_signup {
    border: 1px solid #006622;
    color: #000;
    background-color: #33ff77;
    border-radius: 5px;
    text-align: center;
    width: 94%;
    float: left;
    margin: 0 3%;
    margin-bottom: 10px;
    display: none;
}

.already_added, .error_user_exists {
    border: 1px solid #000080;
    color: #fff;
    background-color: #3090C7;
    border-radius: 5px;
    text-align: center;
    width: 94%;
    float: left;
    margin: 0 3%;
    margin-bottom: 10px;
    display: none;
}

#new-collection-name, #add-to-new-collection-btn{
    display: none;
}

.ajax-spinner{
    display: none;
}

.no-bookmarked-items{
    text-align: center;
    font-size: 24px;
    padding: 25px;
}
.user-signup-box{
    display: none;
}
.full_width input {
    font-size: 13px;
    margin-bottom: 10px;
    padding: 7px 10px;
}
.full_width .button {
  font-size: 14px;
  padding: 9px 10px;
}
.full_width > p {
  font-size: 16px;
  font-weight: bold;
}
.user-login-box .not-member > a ,.full_width .already-member > a {
  box-shadow: none;
  margin-left: 4px;
}
.user-login-box .not-member  ,.full_width .already-member{
  margin-bottom: 0;
}

.first_header{
    width:100%;
    float:left;
    border:2px solid #e6e9ea;
    background-color: #f7f7f7;
    color:#373a41;
    text-align: center;
    padding: 20px 0;
}
.bookmark_title{
    font-size: 30px;
    letter-spacing: 2px;
}
.bookmark_ul{
    list-style: none;
    width: 20%;
    margin: auto;
}
.bookmark_ul li{
    float: left;
    color: #373a41;
    font-size: 12px;
    padding-right: 5px;
}
.main_div{
    float:left;
    width: 100%;
    
}
.left_div{
    float:left;
    width:20%;
    border:1px solid #dfdfdf;
}
.middle_div{
    float:left;
    width:60%;
    border:1px solid #f5f5f5;
    background-color: #fbfbfb;
}
.right_div{
    float:left;
    width:20%;
    border:1px solid blue;
}
.collection{
    list-style: none;
    color:#888888;
    margin-left: 0;
}
.collection li{
    border-bottom: 2px solid #f5f5f5;
    font-size: 12px;
   padding: 10px 0 10px 20px;
}

.collection li a {
    color: #888888;
    text-decoration: none;
}
.collection li a:hover{
    color: #333361;
}
.left_icon{
    float: right;
    font-size: 30px !important;
    color: #555555;
}
.one{
    float: right;
    color: #d9d9e8;
    font-size: 16px;
    padding-right: 10px;
}
.three_book{
    width: 100%;
    float:left;
    padding: 20px 0 20px 20px;
    color: #555555;
}
.partition{
    width: 94%;
    float: left;
    border: 2px solid #f5f5f5;
    margin: 0 3% 2% 3%;
    background-color: #ffffff;
    padding: 15px 0 0 0;
    border-radius: 8px;
}
.partition:hover .remove{
    opacity: 1;
}
.img_partition{
    width:20%;
    float: left;
    text-align: center;
}
.content_partition{
    width: 70%;
    float:left;
}
.image_blog{
    margin-bottom: 0;
    color: #52a8c4;
    font-size: 12px;
}
.image_http a{
    margin-bottom: 0;
    color: #e7e9e7;
    font-size: 12px;
}
.remove{
    width:20%;
    float:right;
    border:2px solid #dddddd;
    background-color: #fafafa;
    text-align: center;
    position: relative;
    bottom: 0;
    right: 0;
    clear: both;
    opacity: 0;
}
.remove_text a{
    color: #393939;
    font-size: 12px;
}
.img_partition img{
    width: 50%;
    border-radius: 50%;
}
.right_circle{
    color: #30aec8;
}
.site-header{
    padding-bottom: 0 !important;
}

#s2id_collections-listing{
    width: 30%;
}