.group-type-add-success, .group-type-add-error, .group-type-add-error-name{
	display: none;
	width: 28%;
}
.ajax-loader{
	font-size: 20px;
	vertical-align: middle;
	display: none;
}
.bpgt-editor{
	display: none;
}