.bptab-bp-logo img{
	width: 40%;
	/*float: left;*/
}

.bptab-logo-txt {
	float: right;
	font-size: 20px;
	line-height: 40px;
	margin-top: -120px;
	width: 50%;
}

.add-bp-tab-groups{
	height: 25px;
	width: 49%;
	float: left;
	border-right: 1px solid black;
}
.add-bp-tab-profiles{
	height: 25px;
	width: 49%;
	float: right;
	margin-top: -13px;
}

.new-parent-tab{
	background-color: #fff;
	text-align: center;
	padding: 5px;
	display: none;
}

.old-parent-tab{
	background-color: #fff;
	padding: 5px;
	display: none;
}

.ajax-spinner{
	vertical-align: middle;
	display: none;
}

.bptab-btn-ajax{
    color: #66c6e4 !important;
}

.del-parent-icon{
	width: 6%;
}