.tick-icon{
  height: 50px;
  width: 50px;
}

.status-wrap {
  background-color: #fff;
  margin-bottom: 20px;
  width: 98%;
}

.status-wrap > table {
  width: 100%;
  table-layout: fixed;
}

.status-wrap th {
  /*border-bottom: 1px solid #ddd;*/
  text-align:left;
  padding-left:10px;
}

.status-wrap > table tr td{
  width:40%;
  padding-left:10px;
}

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 
/*----- Tab Links -----*/
/* Clearfix */

.tab-links{
 margin: 0px;

}
.tab-links:after {
    display:block;
    clear:both;
    content:'';
    
}

.tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
    text-decoration: none;
}
 
.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background:#00ABDF;
    font-size:16px;
    font-weight:600;
    color:#4c4c4c;
    transition:all linear 0.15s;
    text-decoration: none;
}

.tab-links a:hover {
    background:#a7cce5;
    text-decoration:none;
}
 
li.active a, li.active a:hover {
    background:#fff;
    color:#4c4c4c;
    text-decoration: none;
    border: none;
}

/*----- Content of Tabs -----*/
.tab-content {
    padding:15px;
    border-radius:3px;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background:#fff;
    width:90%;
}
 
.tab {
    display:none;
}

.tab.active {
    display:block;
}

.pg-heading > img {
    width: 25%;
}
