@CHARSET "ISO-8859-1";
.wcprq-enquiry-save-msg {
    border: 1px solid;
    color: green;
    font-style: italic;
    padding: 9px;
    width: 50%;
    display: none;
}

.wcprq-product-enquiry{
	border: 1px solid;
	padding: 15px;
}

.wait-txt {
  color: green;
  font-style: italic;
  display: none;
}
.single-product .wcprq-enquiry-tbl td {
  padding: 7px 12px 6px;
}

.wcprq-enquiry-tbl tr:last-child td {
    text-align: right;
}