@CHARSET "ISO-8859-1";
.wc-woo-logo img{
	width: 40%;
}
.wc-woo-logo p{
	font-size: 36px;
	padding: 0px;
	margin: 0px;
	font-style: bold;
}
.display{
	display: none;
}
.selected-products-to-quote{
	width: 40%;
}