#bpchk-add-place-txt{
	font-size: 13px;
    padding: 7px 10px !important;
    margin-right: 5px;
    width: 80%;
}

.bkchk-error {
	border: 1px solid red;
	color: #fff;
	background-color: #ff6666;
	border-radius: 5px;
	text-align: center;
	width: 100%;
	float: left;
	margin-bottom: 10px;
	margin-top: -15px;
	display: none;
}

.bkchk-success{
	border: 1px solid #006622;
	color: #000;
	background-color: #32CD32;
	border-radius: 5px;
	text-align: center;
	width: 100%;
	float: left;
	margin-bottom: 10px;
	margin-top: -15px;
	display: none;
}

.bpchk-edit > span, .bpchk-visited-btn > span, .bpchk-dlt > span {
    font-size: 24px;
}
.update-place{
	width: 100%;
}
.place-inline-editor{
	display: none;
}