.itmbk-btn-ajax{
    color: #66c6e4 !important;
}

.ajax-spinner{
	vertical-align: middle;
	display: none;
}

#itmbk_settings_save_notice{
	display: none;
	width: 50%;
}

.posttype-label{
	/*display: none;*/
}