.ajax-loader {
    vertical-align: middle;
    font-size:24px;
    display: none;
}
.groups .dir-search {
  width: 100%;
}
.groups .dir-search button {
  background-color: #ddd;
  padding: 5px 10px;
  vertical-align: top;
}
.groups .dir-search input[type="text"], .groups .dir-search select {
  padding: 6px 7px!important;
  background-color: #F7F7F7;
}
.groups .dir-search {
  padding-bottom: 10px;
}
.groups #buddypress input[type="text"] {
  border: medium none;
}
.groups #buddypress .custom-wrap {
  border: 1px solid rgba(51, 51, 51, 0.1);;
  display: inline-block;
  margin-right: 10px;
  width: 78%;
}
.groups .custom-wrap > input {
  margin-right: 0;
  width: 93%;
}
.groups-not-found {
    background-color: #FF9999;
    border: 1px solid #FF3333;
    padding: 15px;
    text-align: center;
}
.bgf-input-error {
    background-color: #FF9999;
    border: 1px solid #FF3333;
    padding: 5px;
    text-align: center;
    width: 50%;
    display: none;
}