#locations-list .single-location div.loc-title {
    float: left;
    margin-left: 5%;
    width: 86%;
}
#locations-list .single-location img {
    float: left;
}
#locations-list .single-location div.loc-title h3 {
    margin-bottom: 0;
}
#locations-list .single-location {
    margin-bottom: 10px;
    overflow: hidden;
    padding: 5px;
    cursor:pointer;
}
#locations-list .single-location:hover {
    background-color: #ddd;
}
.locations {
    display: none;
    height: 322px;
    overflow-y: auto; border:1px solid #ddd;
}
.wait-text{
    display: none;
}
#locations-list{
    list-style-type: none;
}
#checkin-img{
    height: 30px;
    width: 30px;
}